<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layouts :: head"></head>
<body>

	<header th:replace="layout/layouts :: header"></header>

	<div class="container py-4">

		<div class="card">

			<div class="card-header">
				<h3 th:text="${titulo}" class="text-secondary"></h3>
			</div>

			<div class="card-body">

				<div th:object="${cliente}">

					<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">

						<p>Listado de errores</p>

						<ul>
							<li th:each="error:${#fields.errors('*')}" th:text="${error}"></li>
						</ul>
					</div>
				</div>

				<form th:action="@{/clientes/form}" th:object="${cliente}"
					method="post" enctype="multipart/form-data" class="form-row g-3">

					<div class="form-group col-md-3">
						<label for="nombre">Nombres</label> <input type="text"
							th:field="*{nombre}" class="form-control">
						<div th:if="${#fields.hasErrors('nombre')}"
							class="alert alert-danger">
							<p th:errors="*{nombre}" style="color: red;"></p>
						</div>
					</div>

					<div class="form-group col-md-3">
						<label for="apellido">Apellidos</label> <input type="text"
							th:field="*{apellido}" class="form-control">
						<div th:if="${#fields.hasErrors('apellido')}"
							class="alert alert-danger">
							<p th:errors="*{apellido}" style="color: red;">
						</div>
					</div>

					<div class="form-group col-md-3">
						<label for="email">Email</label> <input type="text"
							th:field="*{email}" class="form-control">
						<div th:if="${#fields.hasErrors('email')}"
							class="alert alert-danger">
							<p th:errors="*{email}" style="color: red;"></p>
						</div>
					</div>

					<div class="form-group col-md-3">
						<label for="fechaNacimiento">Fecha de nacimiento</label> <input
							type="date" th:field="*{fechaNacimiento}" class="form-control">
						<div th:if="${#fields.hasErrors('fechaNacimiento')}"
							class="alert alert-danger">
							<p th:errors="*{fechaNacimiento}" style="color: red;"></p>
						</div>
					</div>

					<div th:if="${cliente.foto != null}" class="form-group">
						<label for="createAt">Imagen de referencia</label>
						<div class="col-md-3" style="padding: 0;">
							<img alt="" th:src="@{'/uploads/' + ${cliente.foto}}"
								class="img-thumbnail">
						</div>
					</div>

					<div th:if="${cliente.foto != null}">
						<label class="alert alert-warning">Seleccione una nueva
							imagen si desea reemplazarla </label>
					</div>

					<div th:if="${cliente.foto == null && cliente.nombre != null}">
						<label class="alert alert-warning" for="createAt">El
							cliente no cuenta con una imagen de referencia, seleccione una
							imagen si desea agregarla</label>
					</div>

					<div class="form-group col-md-12">
						<input type="file" name="fotoPost" class="form-control-file">
					</div>

					<div class="form-group">
						<a th:href="@{/clientes}" class="btn btn-secondary">Volver</a> <input
							type="submit" value="Guardar" class="btn btn-primary">
					</div>

				</form>
			</div>
		</div>

	</div>

	<!--/scripts-->
	<div th:replace="layout/layouts :: scripts"></div>

</body>
</html>