<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layouts :: head"></head>
<body>

	<header th:replace="layout/layouts :: header"></header>

	<div class="container py-4">

		<div class="card">

			<div class="card-header">
				<br> <a th:href="@{/clientes/form}" class="btn btn-success">Agregar
					Cliente</a> <br> <br>
			</div>

			<div class="card-body">

				<table class="table table-bordered text-center">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>Email</th>
							<th>Fecha de Nacimiento</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cliente:${clientes}">
							<td th:text="${cliente.id}"></td>
							<td th:text="${cliente.nombre}"></td>
							<td th:text="${cliente.apellido}"></td>
							<td th:text="${cliente.email}"></td>
							<td th:text="${#dates.format(cliente.createAt, 'dd/MM/yyyy')}"></td>
							<td><a th:href="@{/clientes/form/} + ${cliente.id}"
								th:text="'Editar'" class="btn btn-primary"></a> <a
								th:href="@{/clientes/eliminar/} + ${cliente.id}"
								th:text="'Eliminar'" class="btn btn-primary"
								onclick="return confirm('¿Esta seguro que quiere eliminar?')">
							</a></td>
						</tr>
					</tbody>
				</table>
				
				<nav th:replace="layout/paginator-nav :: paginator"></nav>
			</div>

		</div>
	</div>

	<!--/scripts-->
	<div th:replace="layout/layouts :: scripts"></div>

</body>
</html>